.download{
    max-width: 26rem;
    margin: 2.4rem auto;
}

.download .download-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.download-form{
    gap: 1rem;
    margin-block-end: 2.8rem;
}

.download-form--input{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input{
    border: 1px solid #babcbe;
}
.input:not(:disabled):hover{
    border: 1px solid #277765;
}

.input:not(:disabled):focus-within, .download-form--button:not(:disabled):focus-visible{
    border: 1px solid #277765;
    outline: none;
    box-shadow: 0 0 1px 2.5px #2777657a;
}

.input-message{
    font-size: 11px;
    font-weight: 500;
    color: #e11c1c;
    padding-inline-start: 0.4rem;
    height: 1rem;
}

.download-form--button{
    border: none;
    background: #277765;
    box-shadow: none;
}
.download-form--button:not(:disabled):hover{
    border: none;
    outline: none;
    background: #195044;
}
.download-form--button:not(:disabled):active{
    background-color: #277765e2;
}

.download-video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.download-video--formats{
    margin-top: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.video-format--btn, .video-format--btn:not(:disabled):hover, .video-format--btn:not(:disabled):active{
    padding: 0.2rem 0.3rem;
    margin: 0.3rem;
    background-color: transparent;
    border-radius: 4px;
    color: #bd0b0b;
    border: 1px solid #277765;
    text-decoration: none;
}
