footer{
    display: flex;
    color: #444;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding: 1rem 1.2rem 0.2rem;
    border-top: 1px solid ;

    width: 100%;
    position: absolute;
    bottom: 0%;
    transform: translateY(0%);
}