nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: max-content;
    padding: 0.8rem 1.6rem;
}

.nav-logo{
    width: 5.4rem;
    height: 4.4rem;
    background-image: url('../assets/logo/abeg-send.webp');
    background-position: center;
    background-size: cover;
}

.nav-links{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1.2rem;
}

.nav-link--el{
    color: #242424;
    text-decoration: none;
}
.nav-link--el:hover{
    cursor: pointer;
    color: #277765;
}




// MEDIA QUERIES
@media screen and (max-width: 37.5em){
    nav{
        padding-inline: 1.2rem;
    }

    .nav-logo img{
        max-width: 85%;
    }
}

@media screen and (max-width: 32em){
    .nav-logo img{
        max-width: 100%;
    }
}
